<input type="checkbox" id="bar">
<div class="chat">
  <div (click)="toggleMenu(bar)" class="chat-header">
    <fa-icon [icon]="faChevronLeft"></fa-icon>
    <img src="/assets/images/profile-ia.jpeg" alt="Imagen de la IA">
    <p>Chat GlamIA</p>
  </div><!-- Header-->

  <div class="chat-content">
    <div class="chat-content-request">
      <div class="chat-content-1">
        <p>Hola.</p>

        <p>18/10/24 23:06</p>
      </div>
    </div><!-- Pregunta -->

    <div class="chat-content-response">
      <img src="/assets/images/profile-ia.jpeg" alt="Imagen de la IA">

      <div class="chat-content-1">
        <p>Hola ¿En qué puedo ayudarte?</p>

        <p>18/10/24 23:06</p>
      </div>
    </div><!-- Respuesta -->

    <div class="chat-content-request">
      <div class="chat-content-1">
        <p>En todo.</p>

        <p>18/10/24 23:06</p>
      </div>
    </div><!-- Preguntas-->

    <div class="chat-content-request">
      <div class="chat-content-1">
        <p>Hola.</p>

        <p>18/10/24 23:06</p>
      </div>
    </div><!-- Pregunta -->

    <div class="chat-content-response">
      <img src="/assets/images/profile-ia.jpeg" alt="Imagen de la IA">

      <div class="chat-content-1">
        <p>Hola ¿En qué puedo ayudarte?</p>

        <p>18/10/24 23:06</p>
      </div>
    </div><!-- Respuesta -->

    <div class="chat-content-request">
      <div class="chat-content-1">
        <p>En todo.</p>

        <p>18/10/24 23:06</p>
      </div>
    </div><!-- Preguntas-->

    <div class="chat-content-request">
      <div class="chat-content-1">
        <img src="/assets/images/profile-ia.jpeg" alt="Imagen de la IA">
      </div>
    </div><!-- Pregunta -->

    <div class="chat-content-response">
      <img src="/assets/images/profile-ia.jpeg" alt="Imagen de la IA">

      <div class="chat-content-1">
        <p>Hola ¿En qué puedo ayudarte?</p>

        <p>18/10/24 23:06</p>
      </div>
    </div><!-- Respuesta -->

    <div class="chat-content-request">
      <div class="chat-content-1">
        <p>En todo.</p>

        <p>18/10/24 23:06</p>
      </div>
    </div><!-- Preguntas-->

    <div class="chat-content-request">
      <div class="chat-content-1">
        <p>Hola.</p>

        <p>18/10/24 23:06</p>
      </div>
    </div><!-- Pregunta -->

    <div class="chat-content-response">
      <img src="/assets/images/profile-ia.jpeg" alt="Imagen de la IA">

      <div class="chat-content-1">
        <p>Hola ¿En qué puedo ayudarte?</p>

        <p>18/10/24 23:06</p>
      </div>
    </div><!-- Respuesta -->

    <div class="chat-content-request">
      <div class="chat-content-1">
        <p>En todo.</p>

        <p>18/10/24 23:06</p>
      </div>
    </div><!-- Preguntas-->
  </div><!-- Mensajes -->

  <div class="chat-inputs">
    <input class="input none" type="text" placeholder="Escribe un mensaje">

    <input type="file"  id="chat-file">

    <label for="chat-file" title="Subir archivo">
      <fa-icon [icon]="faPlus"></fa-icon>
    </label><!-- Archivo -->

    <fa-icon class="chat-inputs_voice" [icon]="faMicrophone"></fa-icon>
  </div><!-- Inputs -->
</div><!-- Chat -->
