<input type="checkbox" id="bar">
<div class="chat">
  <div (click)="toggleMenu(bar)" class="chat-header">
    <fa-icon [icon]="faChevronLeft"></fa-icon>
    <img src="/assets/images/profile-ia.jpeg" alt="Imagen de la IA">
    <p>Chat GlamIA</p>
  </div><!-- Header-->

  <div class="chat-message">
    <div id="chat-content" class="chat-content" *ngFor="let item of contentChat; let impar = odd; let par = even;">
      <div *ngIf="par" class="chat-content-request">
        <div class="chat-content-1">
          <p>{{ item.msg }}</p>

          <p>{{ item.date }}</p>
        </div>
      </div><!-- Contenido pregunta -->

      <div *ngIf="impar" class="chat-content-response">
        <img src="/assets/images/profile-ia.jpeg" alt="Imagen de la IA">

        <div class="chat-content-1">
          <p>{{ item.msg }}</p>

          <p>{{ item.date }}</p>
        </div>
      </div><!-- Contenido respuesta -->
    </div><!-- Pregunta -->
  </div><!-- Mensajes -->

  <div class="chat-inputs">
    <input (keyup.enter)="searchMessage()" class="input none" id="ia-text" type="text" placeholder="Escribe un mensaje" #txtTagInput>

    <input type="file"  id="chat-file" accept="image/">

    <label for="chat-file" title="Subir archivo">
      <fa-icon [icon]="faPlus"></fa-icon>
    </label><!-- Archivo -->

    <fa-icon class="chat-inputs_voice" [icon]="faMicrophone"></fa-icon>
  </div><!-- Inputs -->
</div><!-- Chat -->
