<input type="checkbox" id="menuBar">

<div class="sidebar">
  <img src="/assets/images/portada.jpg" alt="Portada del">

  <nav class="sidebar-nav">
    <a (click)="toggleMenu(toggleValue)" class="sidebar-nav_link" href="#">
      <img src="/assets/images/profile-ia.jpeg" alt=" Perfil de la IA">

      <div class="sidebar-link_description">
        <p>Chat GlamIA</p>
        <p>Hola ¿En que puedo ayudarte?</p>
      </div><!-- Descripcion -->

      <fa-icon [icon]="faChevronRight"></fa-icon>
    </a><!-- Enlaces -->

    <a class="sidebar-nav_link" href="#">
      <img src="/assets/images/profile-ia.jpeg" alt=" Perfil de la IA">

      <div class="sidebar-link_description">
        <p>GlamIA Image</p>
        <p>Hola ¿En que puedo ayudarte?</p>
      </div><!-- Descripcion -->

      <fa-icon [icon]="faChevronRight"></fa-icon>
    </a><!-- Enlaces -->

    <a class="sidebar-nav_link" href="#">
      <img src="/assets/images/profile-ia.jpeg" alt=" Perfil de la IA">

      <div class="sidebar-link_description">
        <p>GlamIA Text</p>
        <p>Hola ¿En que puedo ayudarte?</p>
      </div><!-- Descripcion -->

      <fa-icon [icon]="faChevronRight"></fa-icon>
    </a><!-- Enlaces -->

    <a class="sidebar-nav_link" href="#">
      <img src="/assets/images/profile-ia.jpeg" alt=" Perfil de la IA">

      <div class="sidebar-link_description">
        <p>GlamIA Voice</p>
        <p>Hola ¿En que puedo ayudarte?</p>
      </div><!-- Descripcion -->

      <fa-icon [icon]="faChevronRight"></fa-icon>
    </a><!-- Enlaces -->

    <a class="sidebar-nav_link" href="#">
      <img src="/assets/images/profile-ia.jpeg" alt=" Perfil de la IA">

      <div class="sidebar-link_description">
        <p>Productos</p>
      </div><!-- Descripcion -->

      <fa-icon [icon]="faChevronRight"></fa-icon>
    </a><!-- Enlaces -->
  </nav><!-- Navegacion -->
</div><!-- Sidebar -->
